@define-color bg #1f1f28;
@define-color fg #dcd7ba;
@define-color accent #7e9cd8;

* {
    all: unset;
    font-family: "Noto Sans Mono";
    font-size: 18px;
}

window {
	  background: rgba(0, 0, 0, 0.9);
}

button {
    border: 2px solid @bg;
	  background: @bg;
    color: @fg;
	  background-repeat: no-repeat;
  	background-position: center;
	  background-size: 25%;
	  margin: 2px;
}

button:focus, button:active, button:hover {
    border: 2px solid @accent;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
